<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maram.marketinpoket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="Login" />
        <activity
            android:name=".Signup"
            android:label="Signup" />
        <activity
            android:name=".ShowProfile"
            android:label="My profile" />
        <activity
            android:name=".MaketData"
            android:label="Market date" >




        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".Notafication"
            android:label="Notafications" />
        <activity
            android:name=".SendReq"
            android:label="send request" />
        <activity
            android:name=".ShowCateg"
            android:label="Chose category" />
        <activity
            android:name=".SpecifyCateg"
            android:label="Your category" >






        </activity>
        <activity
            android:name=".SendResponse"
            android:label="Reply" />
        <activity
            android:name=".ShowRequest"
            android:label="Waiting Requests" />
        <activity
            android:name=".ShowReply"
            android:label="Replies" />
        <activity android:name=".ReplyDetails" />
        <activity android:name=".ShowMarketData" />
        <activity android:name=".MarketLocation" >


        </activity>

        <service android:name=".FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDhT01S7Z5ZIB98JzHTARLFoMGQ6a0d3FE" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">

        </activity>
    </application>

</manifest>